---

import CatalogCard from "./CatalogCard.astro"

const { cards } = Astro.props

---


<section class="py-12 bg-slate-100 min-h-screen" id="catalog">


    <!-- container -->

    <div class=" mx-auto px-4 space-y-6">

        <!-- heading -->

        <div>

            <h2 class="text-5xl">Каталог</h2>


        </div>

        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-6">

            {

                cards.map(({frontmatter}) => {
                    return <CatalogCard {frontmatter} />
                })

            }

        </div>

    </div>


</section>