---
import WhyWeItem from "./WhyWeItem.astro";
---

<section class="py-12">

    <div class="px-4 mx-auto">

        <div class="grid lg:grid-cols-2 grid-cols-1">

            <div class="text-center">

                <h2 class="text-3xl text-orange-500">ВЫГОДНАЯ АРЕНДА ИНСТРУМЕНТА В ВИТЕБСКЕ</h2>

            </div>

            <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6">

                <WhyWeItem title="БОЛЬШОЙ ВЫБОР ИНСТРУМЕНТА В НАЛИЧИИ" text="Более 100 наименований строительного инструмента и оборудования в аренду"/>
                <WhyWeItem title="БОЛЬШОЙ ВЫБОР ИНСТРУМЕНТА В НАЛИЧИИ" text="Более 100 наименований строительного инструмента и оборудования в аренду"/>
                <WhyWeItem title="БОЛЬШОЙ ВЫБОР ИНСТРУМЕНТА В НАЛИЧИИ" text="Более 100 наименований строительного инструмента и оборудования в аренду"/>
                <WhyWeItem title="БОЛЬШОЙ ВЫБОР ИНСТРУМЕНТА В НАЛИЧИИ" text="Более 100 наименований строительного инструмента и оборудования в аренду"/>

            </div>

        </div>

    </div>

</section>