---
import slide from "./slides/1.jpg";
import slide2 from "./slides/2.jpg";

import { Picture } from "astro:assets";
---

<section class="my-12" id="gallery">
    <!-- container -->

    <div class=" mx-auto px-4 space-y-6">

        <!-- grid -->

        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
            <!-- slider content -->

            <div class="space-y-3">
                <h2 class="text-5xl">Галерея</h2>

                <p class="text-xl">
                    Просмотрите нашу галерею, чтобы увидеть разнообразие доступных строительных инструментов и оборудования. Здесь вы найдете изображения как стандартных, так и специализированных инструментов.
                </p>
            </div>

            <!-- slider wrapper -->

            <div>
                <!-- slider (swiper js) -->

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <Picture
                                src={slide}
                                formats={["avif", "webp"]}
                                class="rounded-3xl object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={slide}
                                formats={["avif", "webp"]}
                                class="rounded-3xl object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                    </div>
                    <div class="swiper-button-next !text-white"></div>
                    <div class="swiper-button-prev !text-white"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import Swiper from "swiper";

    import { Navigation, Pagination } from "swiper/modules";

    import "swiper/css";
    import "swiper/css/navigation";
    import "swiper/css/pagination";

    new Swiper(".mySwiper", {
        modules: [Navigation, Pagination],
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>

<style>
    .swiper {
        width: 100%;
        height: 100%;
    }
</style>
