---

import ReviewsSlider from "./ReviewsSlider/ReviewsSlider.astro";

---

<section class="py-12 py-12 bg-black  " id="reviews">

    <!-- container -->

    <div class=" mx-auto px-4 space-y-6">

        <!-- heading -->

        <h2 class="text-5xl text-center text-orange-500">Отзывы от Клиентов</h2>

        <!-- slider -->

        <ReviewsSlider />

    </div>

</section>

