---

import LogoMapSlider from "./LogoMapSlider/LogoMapSlider.astro"

---

<div class="py-12">
    <!-- container -->

    <div class="mx-auto px-4">
        
        <!-- logomap slider -->

        <LogoMapSlider />

    </div>

</div>
