<footer class="py-12 bg-black">
    <!-- container -->

    <div class="mx-auto px-4 space-y-6">
        <div class="flex sm:flex-row sm:justify-between flex-col">
            <div>
                <p class="text-orange-500">
                    Индивидуальный Предприниматель <b
                        >Шмурадко Сергей Викторович</b
                    >
                    <br />
                    Свидетельство <b>№391288928</b>
                    выданное Витебским районным исполнительным комитетом <b
                        >20 октября 2016 г.</b
                    >
                </p>
            </div>

            <div>
                <div>
                    <a class="text-orange-500" href="tel:+375292599494">
                        +375 (29) 259 94 94
                    </a>

                    <p class="text-orange-500">08:00 — 18:00 без выходных</p>
                </div>
            </div>
        </div>
    </div>
</footer>
