<footer class="my-12">

    <!-- container -->

    <div class=" mx-auto px-8 space-y-6">

        <div class="flex sm:flex-row sm:justify-between flex-col">

            <div>
                <p class="text-gray-500">
                    ИП Равков Иван Анатольевич Свидетельство № 391808515 <br>
выданное администрацией Октябрьского района г. Витебска 04.07.2016
                </p>
                <a class="text-gray-500" href="#">Политика Конфиденциальности</a>
            </div>

            <div>
                <div>

                    <a class="text-gray-500" href="tel:+375 (33) 857 21 98">
                        +375 (33) 857 21 98
                    </a>
    
                    <p class="text-gray-500">
                        09:00 — 19:00 без выходных
                    </p>
    
                </div>
            </div>

        </div>

    </div>

</footer>