---

import { Picture } from "astro:assets";

const { image } = Astro.props

---

<div class="swiper-slide">
    <Picture
        src={image}
        formats={["avif", "webp"]}
        class="  object-cover"
        alt="Фотография СтройИнстурмент"
    />
</div>