---

import { Picture } from "astro:assets";

import qrImage from './qr.png'

import { Icon } from 'astro-icon/components'

---


<section class="my-12" id="contacts">

<!-- container -->

    <div class="mx-auto px-4 space-y-6">

        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">

            <div class="space-y-3 text-xl">

                <!-- contacts -->

                <h2 class="text-5xl">Контакты</h2>
                <div class="flex items-start">
                    <Icon name="phone" class="text-2xl text-orange-400 cursor-pointer mr-2"/>
                    <a href="tel:+375292599494" class="inline-block"><span class="text-orange-400">Viber, Whatsapp, Telegram: </span>+375 (29) 259 94 94</a>
                </div>
                <div class="flex items-start"> 
                    <Icon name="time" class="text-2xl text-orange-400 cursor-pointer mr-2"/>
                    <p><span class="text-orange-400">Время работы:</span> 08:00 — 18:00 без выходных</p>
                </div>
                <p>           
                    Индивидуальный Предприниматель <b>Шмурадко Сергей Викторович</b> <br>
                    Свидетельство <b>№391288928</b>
                    выданное Витебским районным исполнительным комитетом <b>20 октября 2016 г.</b>
                </p>
            </div>

            <div class="grid md:grid-cols-2 grid-cols-1 gap-4">

                <Picture
                    src={qrImage}
                    formats={["avif", "webp"]}
                    alt="Фотография СтройИнстурмент"
                />

            </div>
        </div>
    </div>
</section>
