---

import HowItWorkItem from "./HowItWorkItem.astro"

---

<section class="py-12 bg-slate-100">

    <div class="px-4 mx-auto">

        <div class="space-y-3">

            <h2 class="text-5xl text-center">Как Взять в Аренду?</h2>

            <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6">

                <HowItWorkItem index="1" content="Узнать о наличии интересующего Вас инструмента"/> 
                <HowItWorkItem index="2" content="Приехать в пункт выдачи или заказать доставку на объект"/>  
                <HowItWorkItem index="3" content="Заключаем договор аренды и выписываем акт приема-передачи"/>  
                <HowItWorkItem index="4" content="Необходим паспорт или водительское удостоверение"/>  
                <HowItWorkItem index="5" content="Обеспечительный платеж вносить не нужно"/>  
                <HowItWorkItem index="6" content="Пройти инструктаж и получить инструмент"/>                 

            </div>

        </div>

    </div>

</section>