---

const { index, content } = Astro.props

---

<div class="bg-white py-5 px-3">

    <span class="text-5xl text-orange-500 font-bold">{index}</span>

    <p class="text-xl text-bold">

        {content}

    </p>

</div>